.search_keywords{
    position: relative;
}
.job_loader_div{
    height: 100vh;
    display: flex;
    justify-content: center;
   margin-top:200px;
}
.JobSearchIcon{
    position: absolute;
    top:13px;
    left:20px;
}
.div_hide{
    display: none;
}
.div_block{
    display: block;
}
/* .job_search_btn{
    position: absolute;
    top:2px;
   right:0px;
   
} */
.inputShadowNone{
    box-shadow: none !important;
}

.search_location{
    position: relative;
}
.locationSearchIcon{
    position: absolute;
    top:13px;
    left:20px;
}

.CategorySearchIcon{
    position: absolute;
    top:13px;
    left:20px;
}

