
.option-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .option-wrap .option {
    background: rgb(221, 216, 216);
    padding: 15px 45px;
    margin: 10px 12px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size:18px;
    cursor: pointer;
  }
  
  .option-wrap .option.selected {
    background: #2F2EA6;
    color: white;
  }
  